
.profile_pic
{
	width: 200;
	height: 200;
	margin-left: 40px;
	margin-top: 20px;

}

.microposts .post_image
{
	width: 700px;
	height: 500px;
}

.activity
{
	padding: 0 0;
	background-color: white;
	background-image: -webkit-linear-gradient(left, #EDEDED 0%,lightGrey 50%,#EDEDED 100%);
	background-image: -moz-linear-gradient(left, #EDEDED 0%,lightGrey 50%,#EDEDED 100%);
	background-image: -o-linear-gradient(left, #EDEDED 0%,lightGrey 50%,#EDEDED 100%);
	background-image: linear-gradient(left, #EDEDED 0%,lightGrey 50%,#EDEDED 100%);
	-moz-box-shadow: inset 0 0 0 white,0 0 0 white,inset -9999px 0 0 white;
	box-shadow: inset 0 0 0 white,0 0 0 white,inset -9999px 0 0 white;
	-webkit-background-origin: border;
	-moz-background-origin: border;
	-ms-background-origin: border-box;
	-o-background-origin: border-box;
	background-origin: border-box;
	border: 0 solid transparent;
	border-bottom-width: 1px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: -449px;
	margin-left: 186px;
}

.createPost .field .post_text_area
{
	height: 45px;
	width: 584px;
	top: 0;
	background: #FDFDFD;
	vertical-align: middle;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	padding: 5px 6px 4px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
	box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
	border: 1px solid #C1C1C1;
	font-size: 13px;
	line-height: 17px;
	color: #333;
	padding: 9px 10px;
	overflow: hidden;
	position: relative;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: height, top;
	-moz-transition-property: height, top;
	-o-transition-property: height, top;
	transition-property: height, top;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	margin-left: 40px;
}

.createPost .accept
{
	float: right;
	margin-right: 120px;
	margin-top: 10px;
}

.clearfix
{
	margin-top: 10px;
	margin-left: 80px;
}

#industryChooser-employeeCompany-employedProfileForm
{
	margin-top: 10px;
	margin-left: 80px;	
}

.microposts .content
{
	color: #333;
	display: inline;
	font-family: Helvetica, FreeSans, 'Liberation Sans', Helmet, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	margin-top: 10px;
	line-height: 3;
}
.microposts .timestamp
{
	color: #8B8B8B;
	font-size: 13px;
	display: inline;
	font-style: normal;
	font-weight: normal;
	margin-top: 10px;
}

.microposts .name_style
{
	font-family: Helvetica, FreeSans, 'Liberation Sans', Helmet, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
}


.activity h2
{
	background: #333;
	color: white;
	font-size: 13px;
	line-height: 17px;
	font-weight: bold;
	padding: 7.5px 20px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	padding-left: 10px;
	padding-right: 26px;
	margin-bottom: 20px;
}


.microposts li
{
	margin-top: 20px;
	border-top-color: #EEE;
	border-top-style: solid;
	border-top-width: 1px;
	vertical-align:middle;
	margin-bottom: 30px;
}


.microposts
{
	margin-top: 50px;
	margin-left: 50px;
}



.relation_status
{
	
}

.photo_area
{
	float: left;
	margin-right: 40px;
}

.name
{
	font-family: Helvetica, FreeSans, 'Liberation Sans', Helmet, Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	font-family: cursive;
	padding-top: 30px;
}

.personal_info .uni
{
	font-size: 16px;
	line-height: 20px;
	color: #333;
	font-weight: normal;
	padding-top: 1px;
	padding-bottom: 1px;
	display: inline;
}

.member-connections
{
	font-size: 11px;
	color: #999;
	float: right;
	margin-top: 170px;
	margin-right: 10px;
	line-height: 15px;
	vertical-align: bottom;
	text-align: right;
}

.member-connections  .connections-link
{
	font-size: 20px;
	text-decoration: none;
}

.personal_info .country_etc
{
	font-size: 13px;
	line-height: 17px;
	color: #666;
	font-weight: normal;
	text-decoration: none;
}


.result {
position: relative;
overflow: visible;
width:600px;
min-height: 60px;
height: auto;
_height: 60px;
padding: 13px 0 9px 0;
}

#actionlist .button_to .accept
{
	background-color: #2672ae;
	box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	text-decoration: none;
	width: auto;
	text-shadow: 0 1px 1px rgba(0,0,0,0.35);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 0 10px;
	height: 26px;
	line-height: 24px;
	font-size: 12px;
	color: #fff;
	border-color: #1b5480;
	display: inline-block;
	margin: -22px 20px 0 18px;
	float: left;

}



.mod {
padding: 10px 0;
background-color: white;
background-image: -webkit-linear-gradient(left, #EDEDED 0%,lightGrey 50%,#EDEDED 100%);
background-image: -moz-linear-gradient(left, #EDEDED 0%,lightGrey 50%,#EDEDED 100%);
background-image: -o-linear-gradient(left, #EDEDED 0%,lightGrey 50%,#EDEDED 100%);
background-image: linear-gradient(left, #EDEDED 0%,lightGrey 50%,#EDEDED 100%);
-moz-box-shadow: inset 0 0 0 white,0 0 0 white,inset -9999px 0 0 white;
box-shadow: inset 0 0 0 white,0 0 0 white,inset -9999px 0 0 white;
-webkit-background-origin: border;
-moz-background-origin: border;
-ms-background-origin: border-box;
-o-background-origin: border-box;
background-origin: border-box;
border: 0 solid transparent;
border-bottom-width: 1px;
margin-top: 38px;
margin-right: -449px;
margin-left: 186px;
height: 300px;
}

.result .bd {
margin-left: 68px;
width: 65%;
word-wrap: break-word;
}

.result .bd h3 {
font-size: 16px;
font-weight: bold;
line-height: 18px;
color: black;
font-weight: normal;
margin-top: -1px;
}

.result .bd .description {
font-size: 13px;
line-height: 17px;
color: #333;
font-weight: normal;
font-size: 12px;
}
.result .bd .demographic {
color: darkGray;
font-size: 12px;
margin-top: -2px;
overflow: hidden;
}
.result .bd .demographic dt {
position: absolute;
left: -9999px;
}
.result .bd .demographic dd {
float: left;
}
.result .srp-actions {
display: -moz-inline-stack;
display: inline-block;
vertical-align: middle;
zoom: 1;
position: absolute;
top: 31px;
right: 0;
white-space: nowrap;
}


.result .srp-actions .primary-action-button {
font-weight: bold;

cursor: pointer;
margin: 0;
overflow: visible;
text-decoration: none !important;
width: auto;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
padding: 0 7px;
height: 26px;
line-height: 24px;
font-size: 12px;


display: -moz-inline-stack;
display: inline-block;
vertical-align: middle;
zoom: 1;
vertical-align: middle;
}

result .srp-actions.blue-button .primary-action-button a, .result .srp-actions.blue-button .primary-action-button a:visited, .result .srp-actions.blue-button .primary-action-button a:active {
color: white;
}


#results_col {
margin-left: 80px;
float: left;
width: 500px;
}


header, footer, section, aside, hgroup, nav, ul, div {
display: block;
}
